%nav
  #mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
    .container
      = link_to 'Wuji Karma', root_path, class: 'navbar-brand'
      %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", :type => "button"}
        %i.fa.fa-bars{"aria-hidden" => "true"}
      #navbarResponsive.collapse.navbar-collapse
        %ul.navbar-nav.ml-auto
          - if user_signed_in?
            %small.nav-link.text-white.text-thin= "#{current_user.contributor.first_name} #{current_user.contributor.last_name}"
            %li.nav-item
              = link_to 'Your Contribution', contributions_path, class: 'nav-link'
            %li.nav-item
              = link_to 'Contribute', new_contribution_path, class: 'nav-link'
            %li.nav-item
              = link_to 'Log Out', destroy_user_session_path, class: 'nav-link text-danger text-thin', method: :delete
            - if current_user.partner?
              %li.nav-item
                = link_to 'Partner Dashboard', partner_contributions_path, class: 'btn btn-primary'
            - else
              - if !current_page?(become_partner_path)
                %li.nav-item
                  = link_to 'Become a Partner', become_partner_path, class: 'btn btn-danger'
          - else
            %li.nav-item
              = link_to 'Log In', new_user_session_path, class: 'nav-link'
